<!--Users Administration-->
@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Пользователи. Администрирование.";
}
<div class="row">
    <div class="col-2">
        @await Html.PartialAsync("AdminPanelPartial")
    </div>
    <div class="col-10">
        <h3 class="text-center">Пользователи</h3>
        <table class="table">
            <thead>
                <tr class="alert alert-dark">
                    <th>e-mail</th>
                    <th>Имя</th>
                    <th colspan="4">Номер телефона</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.Name @user.Surname</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            <a class="text-dark"
                               data-toggle="tooltip" data-placement="top" title="Назначить роль"
                               asp-area="Administration"
                               asp-controller="Users"
                               asp-action="AssignRole"
                               asp-route-UserId="@user.Email">
                                @await Html.PartialAsync("/Views/Shared/IconsPartial/ManIconPartial.cshtml")
                            </a>
                        </td>
                        <td>
                            <a class="text-dark"
                               data-toggle="tooltip" data-placement="top" title="Редактировать пользователя"
                               asp-area="Administration"
                               asp-controller="Users"
                               asp-action="Edit"
                               asp-route-email="@user.Email">
                                @await Html.PartialAsync("/Views/Shared/IconsPartial/EditIconPartial.cshtml")
                            </a>
                        </td>
                        @if (!user.IsBlocked)
                        {
                            <td>
                                <a class="text-dark"
                                   asp-area="Administration"
                                   asp-controller="Users"
                                   asp-action="Remove"
                                   asp-route-email="@user.Email"
                                   data-toggle="tooltip" data-placement="top" title="Заблокировать">
                                    @await Html.PartialAsync("/Views/Shared/IconsPartial/RemoveIconPartial.cshtml")
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>Заблокирован</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
