<!--Personal account orders-->
@model IEnumerable<OrderViewModel>

<div class="row">
    <div class="col-2">
        @await Component.InvokeAsync("PersonalPanel")
    </div>
    <div class="col-10">
        @{ var ordersCount = Model.Count();}
        @if (Model == null || ordersCount == 0)
        {
            <h3 class="text-center">У вас пока нет текущих или завершённых заказов</h3>
            <a class="btn btn-outline-dark btn-block"
               role="button"
               asp-route-area=""
               asp-controller="Home"
               asp-action="Index">К покупкам</a>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr class="alert alert-dark">
                        <th>№ Заказа</th>
                        <th>Получатель</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                        <th colspan="2">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <th>@order.Id</th>
                            <td>@order.DeliveryContact.Name @order.DeliveryContact.Surname</td>
                            <td>@order.TotalCost @Constants.RubleSign</td>
                            <td>@order.OrderStatus.GetDescription()</td>
                            <td>@order.Date</td>
                            <td>
                                <a class="text-dark"
                                   data-toggle="tooltip" data-placement="top" title="Подробнее"
                                   asp-area="PersonalAccount"
                                   asp-controller="PersonalAccount"
                                   asp-action="SpecifiedOrder"
                                   asp-route-orderId="@order.Id">
                                    <b>@await Html.PartialAsync("/Views/Shared/IconsPartial/EyeIconPartial.cshtml")</b>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

