<!--Cart View-->
@model UserCartViewModel
@{
    ViewData["Title"] = "Корзина";
}

<div>
    @if (Model == null || Model.ProductsCount == 0)
    {
        <h2>Корзина пуста</h2>
        <p>Воспользуйтесь поиском чтобы найти то, что нужно</p>
    }
    else
    {
        <h2>Корзина</h2>
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                        <tr class="alert alert-dark">
                            <th>#</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th colspan="3">Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var number = 1;}
                        @foreach (var cartItem in Model.CartItems)
                        {
                            var сost = cartItem.Product.Cost * cartItem.Quantity;
                            <tr>
                                <th>@number</th>
                                <td>
                                    <a class="text-dark"
                                       asp-controller="Product"
                                       asp-action="Index"
                                       asp-route-id="@cartItem.Product.Id">@cartItem.Product.ToString()
                                    </a>
                                </td>
                                <td>@cartItem.Quantity</td>
                                <td>@сost @Constants.RubleSign</td>
                                <td>
                                    <p>
                                        <a class="text-dark"
                                           asp-controller="Cart"
                                           asp-action="RemoveFromCart"
                                           asp-route-id="@cartItem.Product.Id">
                                           <b>@await Html.PartialAsync("/Views/Shared/IconsPartial/MinusIconPartial.cshtml")</b>
                                        </a>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <a class="text-dark"
                                           asp-controller="Cart"
                                           asp-action="AddToCart"
                                           asp-route-id="@cartItem.Product.Id">
                                           <b>@await Html.PartialAsync("/Views/Shared/IconsPartial/PlusIconPartial.cshtml")</b>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            number++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <p>
                    <a class="btn btn-primary btn-block"
                       role="button"
                       asp-controller="OrderPlacing"
                       asp-action="Index">Перейти к оформлению</a>
                </p>
                <p>
                    <a class="btn btn-outline-dark btn-block"
                       role="button"
                       asp-controller="Cart"
                       asp-action="ClearCart">Очистить корзину</a>
                </p>
                <p class="alert alert-dark font-weight-bold">Итого: @Model.TotalCost @Constants.RubleSign</p>
                <p>
                    <a class="btn btn-outline-dark btn-block"
                       role="button"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-pageNumber="@TempData["lastPageNumber"]">Назад к покупкам</a>
                </p>
            </div>
        </div>
    }
</div>
